<% if params[:controller] == 'books' %>
<div class="well">
  <h3>Status</h3>
  <p>You have added <span class="row-count">0</span> / 10 books</p>
  <button type="button" id="submit-button" class="btn btn-lg btn-block btn-primary" disabled="true">Submit</button>
</div>
<% end %>