<% if params[:controller] == 'books' %>
<div class="well">
  <form id="search-form">
    <div class="input-group">
      <input type="text" class="form-control" id="search-box" placeholder="Search for a book...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit" data-toggle="modal" data-target="#book-search-modal" id="search-button">Go!</button>
      </span>
    </div>
  </form>
</div>
<% end %>

<% if params[:controller] == 'books' %>
<div class="well">
  <h3 class="text-center">Books Chosen</h3>
  <p id="book-count" class="text-center"><span class="row-count"><sup>0</sup></span>&frasl;<sub>10</sub></p>
  <button type="button" id="submit-button" class="btn btn-lg btn-block btn-primary" disabled="true">Submit</button>
</div>
<% end %>

<% if current_user && current_user.superuser? %>
  <span>
    <%= link_to('Admin', admin_books_path, :class => "btn btn-default") %>
  </span>
<% end %>

<% if user_signed_in? %>
  <span>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-default") %>
  </span>
<% end %>
