<table class="table table-striped" id="dynamic-table">
  <thead>
    <tr>
      <th class="text-center">
        Title
      </th>
      <th class="text-center">
        Author
      </th>
      <th class="text-center">
        ISBN
      </th>
      <th>
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr id="add-book-form">
      <td>
        <input type="text" class="title" placeholder="Title..." class="form-control" />
      </td>
      <td>
        <input type="text" class="author" placeholder="Author..." class="form-control" />
      </td>
      <td>
        <input type="text" class="isbn" placeholder="ISBN..." class="form-control" />
      </td>
      <td>
          
      </td>
    </tr>
  </tbody>
</table>